.contact-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 48px 0;
  color: #fff;
}

.contact-container h1 {
  margin-bottom: 24px;
  font-size: 2rem;
  text-align: center;
  padding: 20px 0px 70px;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: start;
}

.contact-info h2 {
  font-size: 1.4rem;
  margin-bottom: 12px;
  color: #cf524c
}

.contact-info p {
  margin: 4px 0;
  line-height: 1.6;
}

.contact-details a {
  color: #cf524c;
  text-decoration: none;
}

.contact-details a:hover {
  text-decoration: underline;
}

.contact-note {
  margin-top: 16px;
  opacity: 0.85;
  font-size: 0.95rem;
}

.contact-map iframe {
  width: 100%;
  height: 350px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


@media (max-width: 768px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }

  .contact-map iframe {
    height: 300px;
  }
}